<app-Admin_Header></app-Admin_Header>
<div class="dark">
<div class="proName">
  <h2>Attendance Details</h2>
</div>
<div class="moduleName">
  <h4>Emp ID: Swetha101 </h4>
</div>
<table>
  <tr class="top">
    <td>Date</td>
    <td>Attendance</td>

  </tr>
  <tr class="bottom">

    <td></td>
    <td></td>
  </tr>
</table>

        <div class="moduleName">
          <h4>Emp ID: Asha102</h4>
        </div>
        <table>
          <tr class="top">
            <td>Date</td>
            <td>Attendance</td>
          </tr>
          <tr class="bottom" >
            <td></td>
            <td></td>
            </tr>

        </table>
        </div>


