.image{
  background-image: url(../../assets/Images/service.jpg);



}
.container{
    width: 80%;
    height: 100%;
    padding: 1% 10%;


}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
   grid-gap: 30px;


}
.serv{
    text-align: center;
    padding: 25px 10px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    transition:transform 0.3s, background 0.3s;
    margin-top: 15px;
}
.serv i{
    font-size: 30px;
    margin-bottom: 10px;
    color: #303ef7;
}
.serv h2{
    font-weight: 600;
    margin-bottom: 5%;
}
.serv p{
    text-align: center;
}
.serv:hover{
    background-color: dimgray;
    color: #fff;
    transform: scale(1.05);
}
.serv:hover i{
    color: #fff;
}
