<app-Admin_Header></app-Admin_Header>
<!-- <div class="proName">
  <h2>Project Name: Employee Management Portal</h2>
</div>
<div class="moduleName">
  <h4>Module 01: Login Page</h4>
</div> -->
<div class="dark">
  <div class="add">
    <button mat-raised-button color="primary" style="margin-left: 70%; margin-top: 1%" (click)="openForm()">Create Task</button>
  </div>
<table>
  <tr class="top">
      <!-- <td>Task ID</td> -->
      <td style="width: 200px;">Task Name</td>
      <td style="width: 80px;">Owner</td>
      <td>Status</td>
      <td style="width: 80px;">Estimated Hours</td>
      <td style="width: 80px">Total Spent Hours</td>
      <td style="width: 150px;">Module Status</td>
      <td>Update Status</td>

  </tr>
  <tr class="bottom">
      <!-- <td>EMS M1-001</td> -->
      <td>UI Implementation</td>
      <td>Swetha</td>
      <td>

      </td>
      <td> 5 hr </td>
      <td></td>
      <td></td>
      <td>
        <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
      </td>
  </tr>
  <tr class="bottom">
      <!-- <td>EMS M1-002</td> -->
      <td>Backend Implementation</td>
      <td>Swetha</td>
      <td> </td>
      <td>12 hr</td>
      <td></td>
      <td></td>
      <td>
        <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
      </td>
  </tr>
  <tr class="bottom">
      <!-- <td>EMS M1-003</td> -->
      <td>API Wiring</td>
      <td>Swetha</td>
      <td></td>
      <td>10 hr</td>
      <td></td>
      <td></td>
      <td>
        <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
      </td>
  </tr>
  <tr class="bottom">
      <!-- <td>EMS M1-004</td> -->
      <td>Table Creation for DB</td>
      <td>Swetha</td>
      <td></td>
      <td>15 hr</td>
      <td></td>
      <td></td>
      <td>
        <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
      </td>
  </tr>
  <tr class="bottom">
      <!-- <td>EMS M1-005</td> -->
      <td>Analysis</td>
      <td>Swetha</td>
      <td></td>
      <td>20 hr </td>
     <td></td>
      <td></td>
      <td>
        <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
      </td>
  </tr>


</table>



</div>
