<app-Header></app-Header>

  <div class="content">
    <div class="side">
      <img [src]="image.loginImg" width="250">
    </div>
      <div id="card">
        <div id="card-content">
          <div id="card-title">
            <h2>LOGIN HERE!!</h2>
            <div class="underline-title"></div>
          </div>

          <form  class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
            <label style="padding-top:13px">User Name </label>
            <input type="text" formControlName="username" class="form-content" pattern="^(?!.*([a-zA-Z])\1\1)(?=.*[a-zA-Z].*[a-zA-Z].*[a-zA-Z])[\sA-Za-z]+$">
            <div class="form-border"></div>

            <div *ngIf="loginForm.controls['username'].invalid&&loginForm.controls['username'].touched">
              <small *ngIf="loginForm.controls['username'].errors?.['required']">Please enter username</small>
              <small *ngIf="loginForm.controls['username'].errors?.['minlength']">User name should be atleast 3 letters</small>
              <!-- <small *ngIf="loginForm.controls['username'].errors?.['pattern']">Enter valid name</small> -->
              <small *ngIf="loginForm.controls['username'].errors?.['pattern']">Enter valid username</small>
              <br>

            </div>


            <label style="padding-top:22px">Password </label>
            <input type="password" formControlName="password" class="form-content" required pattern="" >
            <div class="form-border"></div>

            <div *ngIf="loginForm.controls['password'].invalid&&loginForm.controls['password'].touched">
            <small *ngIf="loginForm.controls['password'].errors?.['required']">Please enter Password</small>
            <small *ngIf="loginForm.controls['password'].errors?.['minlength']">Password should be atleast 6 letters</small>
            </div>

            <button  class="btn" id="submit-btn">Login</button>
            <br>
            <a routerLink="/ForgotPass" id="ForgotP">Forgot Password?</a>
          </form>

       </div>
      </div>


  </div>
<br>
<br>

<app-Footer></app-Footer>

