<div class="dd"> <input type="checkbox" id="check">

  <label for="check">
      <i class="fas fa-bars" id="bar"></i>
      <i class="fas fa-times" id="cancel"></i>
  </label>

  <ul class="side-bar">
    <div class="picture">
      <img [src]="loginID.profile">
      <h2>{{loginID.userName}}</h2>
     </div>
     <li><a routerLink="/Emp_Home" routerLinkActive="active" id="home">Home</a></li>
    <li><a routerLink="/Emp_Attendance" routerLinkActive="active"id="attendance">Post Attendance</a></li>
    <li><a routerLink="/Emp_Leave" routerLinkActive="active"id="attendance">Leave Form</a></li>
    <li><a routerLink="/Emp_WorkStatus" routerLinkActive="active"id="attendance">Work Status</a></li>
    <li><a routerLink="/Home" routerLinkActive="active"id="attendance">Logout </a></li>
  </ul>
</div>
