<app-Header></app-Header>
<!--
<div class="content">
 <div class="image">
  <img src="../../assets/Images/about.jpg">
  <div class="box">
    <p>Content</p>
  </div>
 </div>

</div> -->

<div class="content">
  <img [src]="aboutImg.aboutimg">
  <div class="box">
    <p>For over 12 years, we have been transforming businesses with powerful and adaptable digital solutions that satisfy the needs of today and unlock the opportunities of tomorrow. Our team can assist you in transforming your business through latest tech capabilities to stay ahead of the curve</p>
  </div>
</div>

<br>
<app-Footer></app-Footer>
