<app-Admin_Header></app-Admin_Header>
<div class="dark">
<section>
<h1 class="title">Employee Details</h1>
<div class="team-row">
  <div class="member">
      <img src="">
      <h2>Manikandan</h2>
      <p>DOJ: 07/03/2015</p>
      <p>Role: Manager</p>
  </div>
  <div class="member">
      <img src="../../assets/Images/Pranav.jpg">
      <h2>Pranav Ram</h2>
      <p>DOJ: 21/05/2016</p>
      <p>Role: </p>
  </div>
  <div class="member">
      <img src="../../assets/Images/Saru.jpg">
      <h2>Sarulatha</h2>
      <p>DOJ: 06/09/2017</p>
      <p>Role: </p>
  </div>
  <div class="member">
      <img src="">
      <h2>Shreemathi</h2>
      <p>DOJ: 03/06/2018</p>
      <p>Role: </p>
  </div>
</div>
</section>
</div>
