<app-Admin_Header></app-Admin_Header>
<div class="dark">
<section>
<h1 class="title">Employee Details</h1>
<div class="team-row">

  <div class="member">
      <img [src]="pranavImg.pranavImg">
      <h2>Pranav Ram</h2>
      <p>DOJ: 21/05/2016</p>
      <p>Role: Software Developer</p>
      <p>Salary:8LPA</p>
  </div>
  <div class="member">
      <img [src]="saruImg.saruImg">
      <h2>Sarulatha</h2>
      <p>DOJ: 06/09/2017</p>
      <p>Role: Software Tester</p>
      <p>Salary:7.5LPA</p>
  </div>
  <div class="member">
      <img [src]="shreeImg.shreeImg">
      <h2>Shreemathi</h2>
      <p>DOJ: 03/06/2018</p>
      <p>Role: UX/UI Designer</p>
      <p>Salary:6LPA</p>
  </div>
  <div class="member">
    <img [src]="sweImg.swethaImg">
    <h2>Swetha</h2>
    <p>DOJ: 07/03/2019</p>
    <p>Role: Systems Analyst</p>
    <p>Salary:5LPA</p>
</div>
</div>
</section>
</div>
