<div class="proName">
            <h2>Project Name: Employee Management Portal</h2>
        </div>
        <div class="moduleName">
            <h4>Module 01: Login Page</h4>
        </div>
        <table>
            <tr class="top">
                <td>Task ID</td>
                <td>Task Name</td>
                <td>Owner</td>
                <td>Status</td>
                <td style="width: 10%;">Estimated Hours</td>
                <td style="width: 14%;">Today Spent Hours</td>
                <td style="width: 10%;">Total Spent Hours</td>
                <td>Module Status</td>
                <td>Update Status</td>

            </tr>
            <tr class="bottom">
                <td>EMS M1-001</td>
                <td>UI Implementation</td>
                <td>Swetha</td>
                <td>
                    <select class="box">
                        <option value="Not Started">Not Started</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td> 5 hr </td>
                <td>
                    <input class="txt" type="text" placeholder="Eg: 1h 30m" style="text-align: center;" required>
                </td>
                <td></td>
                <td>
                    <textarea></textarea>
                </td>
                <td>
                    <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
                </td>
            </tr>
            <tr class="bottom">
                <td>EMS M1-002</td>
                <td>Backend Implementation</td>
                <td>Swetha</td>
                <td>
                    <select class="box">
                        <option value="Not Started">Not Started</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td>12 hr</td>
                <td>
                    <input class="txt" type="text" placeholder="Eg: 1h 30m" style="text-align: center;">
                </td>
                <td></td>
                <td><textarea></textarea></td>
                <td>
                    <input  type="button" type="submit" value="Submit" onclick="return updateStatus()">
                </td>
            </tr>
            <tr class="bottom">
                <td>EMS M1-003</td>
                <td>API Wiring</td>
                <td>Swetha</td>
                <td>
                    <select class="box">
                        <option value="Not Started">Not Started</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td>10 hr</td>
                <td>
                    <input class="txt" type="text" placeholder="Eg: 1h 30m" style="text-align: center;">
                </td>
                <td></td>
                <td><textarea></textarea></td>
                <td>
                    <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
                </td>
            </tr>
            <tr class="bottom">
                <td>EMS M1-004</td>
                <td>Table Creation for DB</td>
                <td>Swetha</td>
                <td>
                    <select class="box">
                        <option value="Not Started">Not Started</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td>15 hr</td>
                <td>
                    <input class="txt" type="text" placeholder="Eg: 1h 30m" style="text-align: center;">
                </td>
                <td></td>
                <td><textarea></textarea></td>
                <td>
                    <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
                </td>
            </tr>
            <tr class="bottom">
                <td>EMS M1-005</td>
                <td>Analysis</td>
                <td>Swetha</td>
                <td>
                    <select class="box">
                        <option value="Not Started">Not Started</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td>20 hr </td>
                <td>
                    <input class="txt" type="text" placeholder="Eg: 1h 30m" style="text-align: center;">
                </td>
                <td></td>
                <td><textarea></textarea></td>
                <td>
                    <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
                </td>
            </tr>


        </table>

        <div class="moduleName">
            <h4>Module 02: Employee Page</h4>
            <h5 style="text-align: left;">SubTask 02.1: Attendance Module</h5>
        </div>
        <table>
            <tr class="top">
                <td>Task ID</td>
                <td>Task Name</td>
                <td>Owner</td>
                <td>Status</td>
                <td style="width: 10%;">Estimated Hours</td>
                <td style="width: 14%;">Today Spent Hours</td>
                <td style="width: 10%;">Total Spent Hours</td>
                <td>Module Status</td>
                <td>Update Status</td>
            </tr>
            <tr class="bottom">
                <td>EMS M2-2.1-001</td>
                <td>UI Implementation</td>
                <td>Swetha</td>
                <td>
                    <select class="box">
                        <option value="Not Started">Not Started</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td>10 hr</td>
                <td>
                    <input class="txt" type="text" placeholder="Eg: 1h 30m" style="text-align: center;">
                </td>
                <td></td>
                <td><textarea></textarea></td>
                <td>
                    <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
                </td>
            </tr>
            <tr class="bottom">
                <td>EMS M2-2.1-002</td>
                <td>Backend Implementation</td>
                <td>Swetha</td>
                <td>
                    <select class="box">
                        <option value="Not Started">Not Started</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td> 18 hr</td>
                <td>
                    <input class="txt" type="text" placeholder="Eg: 1h 30m" style="text-align: center;">
                </td>
                <td></td>
                <td><textarea></textarea></td>
                <td>
                    <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
                </td>
            </tr>
            <tr class="bottom">
                <td>EMS M2-2.1-003</td>
                <td>API Wiring</td>
                <td>Swetha</td>
                <td>
                    <select class="box">
                        <option value="Not Started">Not Started</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td> 20 hr</td>
                <td>
                    <input class="txt" type="text" placeholder="Eg: 1h 30m" style="text-align: center;">
                </td>
                <td></td>
                <td><textarea></textarea></td>
                <td>
                    <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
                </td>
            </tr>
            <tr class="bottom">
                <td>EMS M2-2.1-004</td>
                <td>Table Creation for DB</td>
                <td>Swetha</td>
                <td>
                    <select class="box">
                        <option value="Not Started">Not Started</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td>20 hr</td>
                <td>
                    <input class="txt" type="text" placeholder="Eg: 1h 30m" style="text-align: center;">
                </td>
                <td></td>
                <td><textarea></textarea></td>
                <td>
                    <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
                </td>
            </tr>
            <tr class="bottom">
                <td>EMS M2-2.1-005</td>
                <td>Analysis</td>
                <td>Swetha</td>
                <td>
                    <select class="box">
                        <option value="Not Started">Not Started</option>
                        <option value="In-Progress">In-Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </td>
                <td>32 hr</td>
                <td>
                    <input class="txt" type="text" placeholder="Eg: 1h 30m" style="text-align: center;">
                </td>
                <td></td>
                <td><textarea></textarea></td>
                <td>
                    <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
                </td>
            </tr>


        </table>
