*{
  margin-top: 0%;
  margin-left: 0%;
}
.dark{
  background-image: linear-gradient(to right,#B3C890,#73A9AD);
  width: 100%;
  height: 100%;
}
.proName h2{
  text-align: center;
  color: #182747;
  font-size: larger;
}
.moduleName{
  text-align: center;
  color: #394867;
  font-size: larger;
  font-family: sans-serif;
}
.moduleName h5{
  color: #83764F;
  margin-left: 20%;
}
table,
th,
td,
tr {
border: 20px solid transparent;
border-radius: 5px;
text-align: center;
padding: 0px;
margin-left: 18%;

}
td,
th {
border: 1px solid #DFD3C3;
border-collapse: separate;
padding: 10px;
}
.top{
background-color:#DDE6ED ;
}


.bottom {
background-color:#F7FFE5;
}
.txt{
width: 50%;
}
small{
  color: red;
}
