
<div class="container">
  <div class="content">
      <ul>
        <li><a routerLink="/Admin_Home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/Admin_Dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/Admin_Leave" routerLinkActive="active">Leave Requests</a></li>
        <li><a routerLink="/Admin_Details" routerLinkActive="active">Employee Details</a></li>
        <li><a routerLink="/Admin_Attendance" routerLinkActive="active">Attendance Details</a></li>
        <li><a routerLink="/Admin_Work" routerLinkActive="active">Work Status</a></li>
        <li><a routerLink="/Admin_Notification" routerLinkActive="active">Notification</a></li>
        <li><a routerLink="/Admin_Logout" routerLinkActive="active">Logout</a></li>
      </ul>
  </div>
</div>

