
*{
  margin-top: 0%;
  margin-left: 0%;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;

}
.picture img{
  display: block;
  width: 100px;
   height: 100px;
  object-fit: cover;
  border:4px solid #726a95;
  border-radius: 50%;
  margin: 0 auto;

}
h2{
  margin-top: 0%;
  text-align: center;
  color:crimson;
  border-bottom: 1px dotted white;
}

 .sidebar{
  position:fixed;
  left: 0;
  top: 0;
  /* margin-left: 0%; */
  width: 17%;
  height: 100%;
  background-image: linear-gradient(to bottom,#537188,#41644A,#537188);

}
a{
  color: white;
  text-decoration: none;
}
 .sidebar ul li{

  list-style: none;
  padding: 10px;

}
.sidebar li a:hover
{
    background-color:#263A29;
    border-radius: 10px;
    padding: 8px;
}
.active{
  background-color:#263A29;
  border-radius: 10px;
  padding: 8px;

}
/* .content img{
  width: 100px;
  margin-left: 100%;
} */

