.dark{
  width: 100%;
  height: 100%;
  position: fixed;
   top: 0;
   margin-left: 200px;

}
.proName{
  text-align: center;
  color: burlywood;
  font-size: larger;
}

.moduleName{
  margin-left: 20%;
  color: cornflowerblue;
  font-size: larger;
  font-family: sans-serif;
}
table,
th,
td,
tr {
border: 20px solid transparent;
border-radius: 5px;
text-align: center;
padding: 0px;
/* margin-left: 50px; */

}
td,
th {
border: 1px solid #DFD3C3;
border-collapse: separate;
padding: 10px;
}
.top{
background-color:rgba(248, 215, 173, 0.5) ;
}


.bottom {
background-color: rgba(243, 240, 240, 0.5);
}

#card {
  background-color: darkgray;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 450px;
  width: 380px;
  margin-left: 50%;
  margin-top: 2%;
  position: fixed;
  }
  #card-content {
  padding: 12px 44px;
  }
   #card-title {

  letter-spacing: 3px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
  }
  /*
  #submit-btn {
  background: -webkit-linear-gradient(right, #4d30f3, #1916f7);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #322e68;
  cursor: pointer;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 35.3px;
  margin-left: 20% 50%;
  margin-top: 10px;
  transition: 0.25s;
  width: 100px;
  } */






  .form {
    margin-top:23px ;
  align-items: left;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
  flex-direction: column;

  }
  .form-border {
  background: -webkit-linear-gradient(right, #232335, #312f47);
  height: 2px;
  width: 100%;
  }
  .form-content {
  background: #fbfbfb;
  border: rgb(50, 50, 107);
  outline: none;
  padding-top: 11px;
  border-radius: 2px;

  }

  .underline-title {
  background: -webkit-linear-gradient(right, #232335, #312f47);
  height: 5px;
  margin: auto;
  width: 150px;
  }

  small{
    color: red;
    font-size: 14px;
  }

