
<p>
  Admin_Notification works!
  {{getDetails|json}}
</p>
<app-Admin_Header></app-Admin_Header>
<div class="proName">
  <h2>Job Openings</h2>
</div>
<div class="moduleName">
  <h4>Role 01: Java Developer </h4>
</div>
<table>
  <tr class="top">
    <td>Candidate Name</td>
    <td>Contact Number</td>
    <td>Mail ID</td>
    <td>Resume</td>
  </tr>
  <tr class="bottom">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="bottom">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

        <div class="moduleName">
          <h4>Role 02:UI Developer</h4>
        </div>
        <table>
          <tr class="top">
              <td>Candidate Name</td>
              <td>Contact Number</td>
              <td>Mail ID</td>
              <td>Resume</td>
          </tr>
          <tr class="bottom">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="bottom">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </table>


        <div class="moduleName">
          <h4>Role 03: Java Full Stack Developer</h4>
        </div>
        <table>
          <tr class="top">
              <td>Candidate Name</td>
              <td>Contact Number</td>
              <td>Mail ID</td>
              <td>Resume</td>
          </tr>
          <tr class="bottom">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="bottom">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </table>

        <div class="moduleName">
          <h4>Role 04: Automation Tester</h4>
        </div>
        <table>
          <tr class="top">
              <td>Candidate Name</td>
              <td>Contact Number</td>
              <td>Mail ID</td>
              <td>Resume</td>
          </tr>
          <tr class="bottom">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="bottom">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </table>
        <div class="moduleName">
          <h4>Role 05:  Technical Lead</h4>
        </div>
        <table>
          <tr class="top">
              <td>Candidate Name</td>
              <td>Contact Number</td>
              <td>Mail ID</td>
              <td>Resume</td>
          </tr>
          <tr class="bottom">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr class="bottom">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </table>





  <!-- </tr>
        <td>
          <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
      </td>
  </tr> -->




