
<!-- <p>
  Admin_Notification works!
  {{getDetails|json}}
</p> -->
<app-Admin_Header></app-Admin_Header>
<div class="dark">
  <div class="content" *ngIf="status">
    <div id="card">
      <div id="card-content">
        <div id="card-title">
          <h2>Employee Details</h2>
          <div class="underline-title"></div>
        </div>
      </div>
    </div>
  </div>

<div class="moduleName">
  <h4>Role 01: Java Developer </h4>
</div>
<table>
  <tr class="top">
    <td>Candidate Name</td>
    <td>Contact Number</td>
    <td>Mail ID</td>
    <td>Resume</td>
  </tr>
  <tr class="bottom" *ngFor="let item of getJava">
    <td>{{item.username}}</td>
    <td>{{item.mobile}}</td>
    <td>{{item.mail}}</td>
    <td></td>
  </tr>
</table>
        <div class="moduleName">
          <h4>Role 02:UI Developer</h4>
        </div>
        <table>
          <tr class="top">
              <td>Candidate Name</td>
              <td>Contact Number</td>
              <td>Mail ID</td>
              <td>Resume</td>
          </tr>
          <tr class="bottom" *ngFor="let item of getUI">
            <td>{{item.username}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.mail}}</td>
            <td></td>
          </tr>

        </table>




        <div class="moduleName">
          <h4>Role 03: Automation Tester</h4>
        </div>
        <table>
          <tr class="top">
              <td>Candidate Name</td>
              <td>Contact Number</td>
              <td>Mail ID</td>
              <td>Resume</td>
          </tr>
          <tr class="bottom" *ngFor="let item of getAT">
            <td>{{item.username}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.mail}}</td>
            <td></td>
            </tr>

        </table>





