h1{
  text-align: center;

}
table, th, td,tr{
  border: 20px solid transparent;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin-left: 20%;

}
td,th{
  border: 1px solid #DFD3C3;
  border-collapse: separate;
  padding: 30px;
}
tr:nth-child(even){
  background-color:#B1D7B4;

}
tr:nth-child(odd){
  background-color: #B1D7B4;
}
.box{
  display: inline-block;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  text-align: center;
}
