<app-Emp_Header></app-Emp_Header>
<div class="dark">
<h1>Post Attendance</h1>
<table>
    <tr class="Top">
        <td>Date</td>
        <td>Attendance</td>
        <td>Post</td>
        <td><i class="fa fa-clock-o" style="font-size:30px;"></i></td>
    </tr>
    <tr>
        <td>01 Oct,2023</td>
        <td>
          <ul style="text-align: left;">
            <li> <input type="radio">Present</li>
            <li> <input type="radio">Excused</li>
            <li> <input type="radio">Leave</li>
          </ul>
          <!-- <ul>
            <li *ngIf="hide"><input type="radio" name="post" id="opt">
              <span>Present</span></li>
              <li><input type="radio" name="post" id="opt">
                <span>Excused</span></li>
                <li> <input type="radio" name="post" id="opt">
                  <span>Leave</span></li>
                  <li> <input type="radio" name="post" id="opt">
                    <span>Work From Home</span></li>
          </ul> -->
        </td>
        <td>
          <button type="submit">Submit</button>
        </td>
        <td id="countDown">20:00</td>
    </tr>
    <tr>
        <td>02 Oct,2023</td>
        <td>
          <ul>
            <li><input type="radio" name="post" id="opt">
              <label>Present</label></li>
              <li><input type="radio" name="post" id="opt">
                <label>Excused</label><br></li>
                <li> <input type="radio" name="post" id="opt">
                  <label>Leave</label></li>
                  <li> <input type="radio" name="post" id="opt">
                    <label>Work From Home</label></li>
          </ul>
        </td>
        <td>
          <button type="submit">Submit</button>
        </td>
        <td id="countDown">20:00</td>
    </tr>
    <tr>
        <td>26 Oct,2022</td>
        <ul>
          <li><input type="radio" name="post" id="opt">
            <label>Present</label></li>
            <li><input type="radio" name="post" id="opt">
              <label>Excused</label><br></li>
              <li> <input type="radio" name="post" id="opt">
                <label>Leave</label></li>
                <li> <input type="radio" name="post" id="opt">
                  <label>Work From Home</label></li>
        </ul>
        <td>
          <button type="submit">Submit</button>
        </td>
        <td id="countDown">20:00</td>
    </tr>
    <tr>
        <td>27 Oct,2022</td>
        <ul>
          <li><input type="radio" name="post" id="opt">
            <label>Present</label></li>
            <li><input type="radio" name="post" id="opt">
              <label>Excused</label><br></li>
              <li> <input type="radio" name="post" id="opt">
                <label>Leave</label></li>
                <li> <input type="radio" name="post" id="opt">
                  <label>Work From Home</label></li>
        </ul>
        <td>
            <button type="submit">Submit</button>
        </td>
        <td id="countDown">20:00</td>
    </tr>
    <tr>
        <td>28 Oct,2022</td>
        <td>

          <ul>
            <li><input type="radio" name="post" id="opt">
              <label>Present</label></li>
              <li><input type="radio" name="post" id="opt">
                <label>Excused</label><br></li>
                <li> <input type="radio" name="post" id="opt">
                  <label>Leave</label></li>
                  <li> <input type="radio" name="post" id="opt">
                    <label>Work From Home</label></li>
          </ul>
                <!-- <option value="Present">Present</option>
                <option value="Leave">Leave</option>
                <option value="Late">Excused</option>
                <option value="Work From Home">Work From Home</option> -->

        </td>
        <td>
          <button type="submit">Submit</button>
        </td>
        <td id="countDown">20:00</td>
    </tr>
    <tr>
</table>


</div>
