<app-Header></app-Header>
<div class="content">
<div id="card">
  <div id="card-content">
    <div id="card-title">
      <h2>FORGOT PASSWORD?</h2>
      <div class="underline-title"></div>
    </div>
    <form  class="form" [formGroup]="ForgotForm">
      <p style="font-size: 70%;">Enter your email and we'll send you a one time password</p>
      <br>
      <label style="padding-top:13px">Email ID </label>
      <input type="text" class="form-content" formControlName="mailID">
      <div class="form-border"></div>
      <div *ngIf="ForgotForm.controls['mailID'].invalid&&ForgotForm.controls['mailID'].touched">
      <small *ngIf="ForgotForm.controls['mailID'].errors?.['required']">Please enter your mail ID</small>
      <small *ngIf="ForgotForm.controls['mailID'].errors?.['pattern']">Enter valid mail ID</small>
    </div>
      <button type="submit" class="btn" id="submit-btn" [disabled]="status" (click)="register()">Submit</button>
      <br>
      <a routerLink="/Login">Back</a>
    </form>
  </div>
  </div>
  <div class="side">
    <img [src]="image.forgotPass" width="250px">
  </div>
</div>
