 <!-- <app-Footer></app-Footer> -->
<!-- <app-Home></app-Home> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-Emp_Home></app-Emp_Home> -->

<!-- <app-Add_Emp></app-Add_Emp> -->
<!-- <app-Register></app-Register> -->
<!-- <app-Emp_WorkStatus></app-Emp_WorkStatus> -->
<!-- <app-Emp_WorkStatus></app-Emp_WorkStatus> -->
<!-- <app-Emp_cPass></app-Emp_cPass> -->
<app-Admin_Home></app-Admin_Home>
<!-- <app-Admin_leave></app-Admin_leave> -->
<!-- <app-Admin_Dashboard></app-Admin_Dashboard> -->
<!-- <app-Admin_Details></app-Admin_Details> -->
<!-- <app-Admin_Notification></app-Admin_Notification> -->
<!-- <app-Admin_Work></app-Admin_Work> -->
<!-- <app-Emp_Header></app-Emp_Header> -->
<!-- <app-Emp_Salary></app-Emp_Salary> -->
<!-- <app-Emp_cPass></app-Emp_cPass> -->
