<app-Emp_Header></app-Emp_Header>
<div class="background">
<h1>Welcome To Employee Portal</h1>
<dialog [open]="status">
  <img src="../../assets/Images/gift1.png">
  <img src="../../assets/Images/gift1.png">
  <img src="../../assets/Images/gift1.png">
  <img src="../../assets/Images/gift1.png">
  <img src="../../assets/Images/gift1.png">
  <div class="member">
    <img class="img1" [src]="loginID.profile" style="margin-top: 2%;">
 </div>
 <h4>Happy Birthday</h4>
 <h2>{{loginID.userId}}</h2>
 <p>Wishing you a very special birthday and a wonderful year ahead!</p>


  <!-- <div class="section">
    <div class="cake">
      <img src="../../assets/Images/birthday-cake.png">
    </div>
  <div class="member">
     <img class="img1" [src]="loginID.profile" style="margin-top: 2%;">
  </div>
  <div class="side">
    <img src="../../assets/Images/happy-birthday.png">
  </div>
  </div>
<div class="content">
  <h3>Swetha</h3>
  <img src="../../assets/Images/quote1.png" style="width: 20px; margin-left: 5%;">
  <p>Wishing you a very special birthday and a wonderful year ahead!</p>
  <img src="../../assets/Images/quote2.png" style="width: 20px; margin-left: 93%;" >
</div> - -->
 </dialog>

