<div class="background">
<marquee direction="left"><h1>Welcome To Employee Portal</h1></marquee>

<div class="dd"> <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="bar"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <ul class="side-bar">
      <li><a routerLink="/Emp_Attendance" routerLinkActive="active"id="attendance">Post Attendance</a></li>
      <li><a routerLink="/Emp_Leave" routerLinkActive="active"id="attendance">Leave Form</a></li>
      <li><a routerLink="/Emp_WorkStatus" routerLinkActive="active"id="attendance">Work Status</a></li>
      <li><a routerLink="/Emp_Salary" routerLinkActive="active"id="attendance">Salary Details </a></li>
      <li><a routerLink="/Emp_Password" routerLinkActive="active"id="attendance">Change Password </a></li>
      <li><a routerLink="/Home" routerLinkActive="active"id="attendance">Logout </a></li>
    </ul>
</div>
</div>
