<app-Admin_Header></app-Admin_Header>
<div class="dark">
<div class="content">
  <h1>Leave Requests</h1>
</div>



<table>
  <tr class="top">
      <td>Employee Name</td>
      <td>Team Leader Name</td>
      <td>Department</td>
      <td>Contact Number</td>
      <td>Leave Date</td>
      <td>Return Date</td>
      <td>Reason</td>
      <td>Action</td>
  </tr>
  <tr class="bottom" *ngFor="let item of getLeave">
      <td>{{item.username}}</td>
      <td>{{item.tlname}}</td>
      <td>{{item.deptname}}</td>
      <td>{{item.mobile}}</td>
      <td>{{item.leaveDate}}</td>
      <td>{{item.returnDate}}</td>
      <td>{{item.reason}}</td>
      <td>
        <button mat-raised-button color="primary" style="width: 90px; height: 30px;" (click)="approve(item)" [disabled]="item.Status=='Leave Approved' || item.Status=='Leave Cancelled'">Approve</button>
        <br><br>
        <button mat-raised-button color="warn" style="width: 90px; height: 30px;" (click)="cancel(item)" [disabled]="item.Status=='Leave Approved' || item.Status=='Leave Cancelled'">Cancel</button>
      </td>


  <!-- </tr>
        <td>
          <input type="button" type="submit" value="Submit" onclick="return updateStatus()">
      </td>
  </tr> -->


</table>

</div>
