<app-Emp_Header></app-Emp_Header>
<div class="content">
    <h2>Apply For Leave</h2>
    <div class="add">
      <button mat-raised-button color="primary" style="margin-left: 70%; margin-top: 1%" (click)="view()">Leave Status</button>
    </div>
    <form class="form" [formGroup]="leaveForm">
        <label>Employee Name</label> <span>{{loginID.userName}}</span>
        <br>
        <label>Team Leader Name</label>
        <input type="text" formControlName="tlname" placeholder="enter your TL name" id="leadname" style="text-align: center;">
        <div *ngIf="leaveForm.controls['tlname'].invalid&&leaveForm.controls['tlname'].touched">
          <small *ngIf="leaveForm.controls['tlname'].errors?.['required']">Please enter TL Name</small>
          <small *ngIf="leaveForm.controls['tlname'].errors?.['minlength']">TL name should be atleast 3 letters</small>
          <small *ngIf="leaveForm.controls['tlname'].errors?.['pattern']">First letter should be capital</small>
          <br>
        </div>

        <br>
        <label>Department</label>
        <input type="text" formControlName="deptname" placeholder="enter dept" id="deptname" style="text-align: center;" onkeyup="deptValid()">
        <div *ngIf="leaveForm.controls['deptname'].invalid&&leaveForm.controls['deptname'].touched">
          <small *ngIf="leaveForm.controls['deptname'].errors?.['required']">Please enter TL Name</small>
          <small *ngIf="leaveForm.controls['deptname'].errors?.['minlength']">TL name should be atleast 3 letters</small>
          <small *ngIf="leaveForm.controls['deptname'].errors?.['pattern']">First letter should be capital</small>
          <br>
        </div>
        <br>
        <label>Contact Number</label>
        <input type="text"  formControlName="mobile" placeholder="enter mobile number" id="usernum" style="text-align: center;"  pattern="^[6789][0-9]{9}$">
        <div *ngIf="leaveForm.controls['mobile'].invalid&&leaveForm.controls['mobile'].touched">
          <small *ngIf="leaveForm.controls['mobile'].errors?.['required']">Please enter mobile number</small>
          <small *ngIf="leaveForm.controls['mobile'].errors?.['pattern']">Enter Valid Mobile Number</small>
          </div>
        <br>
        <label>Leave Date</label>
        <input formControlName="leaveDate" type="date" id="startDate" style="text-align: center;" >
        <br>
        <label>Return Date</label>
        <input formControlName="returnDate" type="date" id="endDate" style="text-align: center;">
        <br>
         <label>Reason for Leave</label><br>
        <div class="reasons">
        <div class="left">
            <input formControlName="reason" type="radio" name="reason" id="reason" value="Vacation">
            <label>Vacation</label><br>
            <input formControlName="reason" type="radio" name="reason" id="reason" value="Sick">
            <label>Sick</label><br>

            <div class="other" (change)="others()">
              <input  type="radio" formControlName="reason"  name="reason" id="reason1">
              <label>Others</label>
              <input type="text" formControlName="reason" name="reason" *ngIf="status" placeholder="reason for leave">
            </div>


        </div>
        <div class="right">
            <input formControlName="reason" type="radio" name="reason" id="reason" value="Doctor Appointment">
            <label>Doctor Appointment</label><br>
            <input formControlName="reason" type="radio" name="reason" id="reason" value="Function">
            <label>Function</label><br>
        </div>
        </div>
        <br>
    <div class="btn">
      <button type="submit"[disabled]="leaveForm.invalid" (click)="sub()">Submit</button>
    </div>


    </form>

    <table *ngIf="show">
      <tr class="Top">
          <td>TL Name</td>
          <td>Department</td>
          <td>Leave Date</td>
          <td>Return Date</td>
          <td>Reason</td>
          <td>Status</td>
      </tr>
      <tr class="bottom" *ngFor="let item of getLeave">
        <td>{{item.tlname}}</td>
        <td>{{item.deptname}}</td>
        <td>{{item.leaveDate}}</td>
        <td>{{item.returnDate}}</td>
        <td>{{item.reason}}</td>
        <td>{{item.Status}}</td>
      </tr>

</table>

    </div>

