.content{

    background-image:linear-gradient(to right,#B3C890,#73A9AD)

}
h2{
  margin-top: 1%;
  text-align: center;
  color:  #905E96;
}
.form label{
  width: 200px;
  display: inline-block;
  padding: 15px 15px;
  font-size: 20px;

}
.form{
  margin-top: 24%;
  margin-left: 50%;
  transform: translate(-40%,-40%);
}
.form input{
  border: none;
  border-radius: 5px;
  width: 280px;
  height: 30px;
}
#reason,#reason1{
  height: 10px;
  width: 10px;
}
/* #reason1{
  height: 20px;
  width: 20px;
} */

#content{
  margin-left: 50%;
  width: 300px;
  height: 50px;
  font-size: 15px;
}
.form #submit{
  clear: both;
  width: 100px;
}
.form input:hover{
  background-color: rgb(218, 241, 250);
}
.left
{
  font-size: 2px;
  float:left;
  width: 50%;

}
.right
{
  font-size:2px;
  float: right;
  width: 50%;
}
.reasons{
  margin-left: 30px;
}
.sub{
  clear: both;
  margin-left: 35%;
  margin-top: 35%;

}
.btn{
  margin-top: 30%;
  margin-left: 35%;
}
::placeholder{
  text-align: center;
}
small{
  margin-left: 250px;
  color: red;
}
a{
  margin-left: 10%;
  margin-top: 2%;
}
span{
  font-size: 20px;
}
