.container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
.content{
  width: 800px;
  height: 550px;


}

        table,tbody,th,td,tr
       {


            border-radius: 5px;
            text-align: center;
            padding: 5px;
            margin-left: 5%;

        }
        th{
          font-size: larger;
          background-color:#DBE4C6;
        }
         td,
        th {
            border: 1px solid #DFD3C3;
            border-collapse: separate;
            padding: 20px;
        }

        tr:nth-child(even) {
            background-color: rgba(243, 240, 240, 0.5);

        }

        tr:nth-child(odd) {
            background-color: rgba(248, 215, 173, 0.5);
        }
        .dark{
          width: 400px;
          height: 500px;
          margin-left:0%;
          margin-top:0%;
        }
        .dark img{
          margin-top: 50%;
          margin-left: 25%;
        }
