
.background{
  width:100%;
  height: 100%;
   display: grid;
  grid-template-columns: auto auto;
}
.text{
  margin-top: 35%;
  margin-left:2%;
}
.image img{

  width: 650px;
  height: 450px;
  margin-top: 20px;
  margin-left: 40px;

}
