
    <div class="content">

        <div class="logo"> <img [src]="logo.homeimg"></div>
        <div class="dark"> <img [src]="logoName.image"></div>

            <div class="top">

                <ul class="DropDown">
                    <li><a routerLink="/Home" routerLinkActive="active"id="home">Home</a></li>
                    <li><a routerLink="/About" routerLinkActive="active" id="about">About Us</a></li>
                    <li><a routerLink="/Culture" routerLinkActive="active" id="culture">Our Culture</a></li>
                    <li><a routerLink="/Service_Page" routerLinkActive="active" id="service">Services</a></li>
                    <li><a routerLink="/Login" routerLinkActive="active" id="login">Login</a></li>

                </ul>
            </div>



    </div>

