.row{
  width: 500px;
}
.mat-dialog-content
{
  text-align: center;
  margin-top: 10%;
}
.mat-dialog-title{
  text-align: center;
  margin-top: 5%;
}
.mat-dialog-action{
text-align: center;
}
.small{
  color: red;
}
