<div class="mat-dialog-title">
  <h1>Create Task</h1>
</div>
<div class="row">
<div class="mat-dialog-content">
  <mat-form-field appearance="outline">
    <mat-label>Task Name</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Owner</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Estimater Hours</mat-label>
    <input matInput>
  </mat-form-field>
</div>
</div>

<div class="mat-dialog-action">
  <button mat-raised-button color="warn">Close</button>
  <button mat-raised-button color="primary">Save</button>
</div>
