<footer>
  <div class="foot">
    <div class="content">
      <div class="box">
        <h2>Important Links</h2>
        <a routerLink="/Home">Home</a>
        <a routerLink="/About">About Us</a>
        <a routerLink="/Culture">Our Culture</a>
        <a routerLink="/Openings">openings For</a>
        <a routerLink="/Service_Page">Services</a>
        <a routerLink="/Login">Login</a>
      </div>
      <div class="box">
        <h2>Contact US</h2>
        <a routerLink="#"> <i class="fa fa-phone"></i>  +91 9842413031</a>
        <a routerLink="#"> <i class="fa fa-envelope" aria-hidden="true"></i> contact@sweitech.com</a>
        <a routerLink="#"> <i class="fa fa-map-marker"></i>  Sipcot IT park, <br>  Siruseri, <br> Chennai, <br>Tamil Nadu-603 103</a>
      </div>
      <div class="wraper">
      <div class="box">
        <h2>Get In Touch</h2>
        <div class="icon">
        <a routerLink="#">
          <img src="../../assets/Images/facebook1.png" width="25px">  Facebook</a>
        <a routerLink="#">
          <img src="../../assets/Images/twitter.png" width="25px">  Twitter</a>
        <a routerLink="#">
          <img src="../../assets/Images/instagram.png" width="25px">  Instagram</a>
        <a routerLink="#">
          <img src="../../assets/Images/linkedin.png" width="25px">  LinkedIn</a>
      </div>
      </div>
      </div>
    </div>
    <div class="copy">
      <i class="fa fa-copyright"></i> 2023|| All rights reserved |  Developed by ⓢⓦⓔⓘⓣⓔⓒⓗ Pvt. Ltd.
    </div>
  </div>
</footer>
